In [1]:
import pandas as pd

df= pd.read_csv('/project_data/data_asset/tripleRI.csv')
df.head()

,Unnamed: 0,Unnamed: 0.1,dbn,postcode,borough,accessibility,sharedbuilding,district,latitude,longitude,...,poverty,poverty_1,economic_need_index,postcode_pop_est,overcap_p,undercap_p,demo_index,zip_env_index,hybrid_index,Reopening_Risk
0,0,0,01M015,10009,MANHATTAN,Partially Accessible,NaN,1.0,40.721807,-73.979022,...,145,0.833,0.880,57925.0,NaN,NaN,3.931,59519.145172,9.882915,0
1,1,1,01M019,10003,MANHATTAN,Not Accessible,NaN,1.0,40.729636,-73.983818,...,180,0.723,0.668,54682.0,NaN,0.577649,3.760,54293.533793,9.189353,0
2,2,2,01M020,10002,MANHATTAN,Partially Accessible,NaN,1.0,40.721540,-73.986648,...,316,0.657,0.738,74993.0,NaN,0.678392,3.634,77976.134138,11.431613,1
3,3,3,01M034,10009,MANHATTAN,Not Accessible,0.0,1.0,40.726473,-73.975181,...,301,0.987,0.944,57925.0,NaN,NaN,4.305,59519.145172,10.256915,1
4,4,4,01M063,10009,MANHATTAN,Not Accessible,NaN,1.0,40.724117,-73.986381,...,176,0.765,0.732,57925.0,NaN,NaN,3.814,59519.145172,9.765915,0

In [2]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis = 1)
df.head()

,dbn,postcode,borough,accessibility,sharedbuilding,district,latitude,longitude,school_name.x,building_code,...,poverty,poverty_1,economic_need_index,postcode_pop_est,overcap_p,undercap_p,demo_index,zip_env_index,hybrid_index,Reopening_Risk
0,01M015,10009,MANHATTAN,Partially Accessible,NaN,1.0,40.721807,-73.979022,P.S. 15 Roberto Clemente,NaN,...,145,0.833,0.880,57925.0,NaN,NaN,3.931,59519.145172,9.882915,0
1,01M019,10003,MANHATTAN,Not Accessible,NaN,1.0,40.729636,-73.983818,P.S. 19 Asher Levy,NaN,...,180,0.723,0.668,54682.0,NaN,0.577649,3.760,54293.533793,9.189353,0
2,01M020,10002,MANHATTAN,Partially Accessible,NaN,1.0,40.721540,-73.986648,P.S. 20 Anna Silver,NaN,...,316,0.657,0.738,74993.0,NaN,0.678392,3.634,77976.134138,11.431613,1
3,01M034,10009,MANHATTAN,Not Accessible,0.0,1.0,40.726473,-73.975181,P.S. 34 Franklin D. Roosevelt,NaN,...,301,0.987,0.944,57925.0,NaN,NaN,4.305,59519.145172,10.256915,1
4,01M063,10009,MANHATTAN,Not Accessible,NaN,1.0,40.724117,-73.986381,The STAR Academy - P.S. 63,NaN,...,176,0.765,0.732,57925.0,NaN,NaN,3.814,59519.145172,9.765915,0

In [3]:
df = pd.get_dummies(df, columns=['borough', 'accessibility','postcode'])
df

,dbn,sharedbuilding,district,latitude,longitude,school_name.x,building_code,school_name.y,year,total_enrollment,...,postcode_11429,postcode_11432,postcode_11433,postcode_11434,postcode_11435,postcode_11436,postcode_11691,postcode_11692,postcode_11693,postcode_11694
0,01M015,NaN,1.0,40.721807,-73.979022,P.S. 15 Roberto Clemente,NaN,P.S. 015 Roberto Clemente,2018-19,174,...,0,0,0,0,0,0,0,0,0,0
1,01M019,NaN,1.0,40.729636,-73.983818,P.S. 19 Asher Levy,NaN,P.S. 019 Asher Levy,2018-19,249,...,0,0,0,0,0,0,0,0,0,0
2,01M020,NaN,1.0,40.721540,-73.986648,P.S. 20 Anna Silver,NaN,P.S. 020 Anna Silver,2018-19,481,...,0,0,0,0,0,0,0,0,0,0
3,01M034,0.0,1.0,40.726473,-73.975181,P.S. 34 Franklin D. Roosevelt,NaN,P.S. 034 Franklin D. Roosevelt,2018-19,305,...,0,0,0,0,0,0,0,0,0,0
4,01M063,NaN,1.0,40.724117,-73.986381,The STAR Academy - P.S. 63,NaN,The STAR Academy - P.S.63,2018-19,230,...,0,0,0,0,0,0,0,0,0,0
5,01M064,NaN,1.0,40.724380,-73.981380,P.S. 64 Robert Simon,NaN,P.S. 064 Robert Simon,2018-19,223,...,0,0,0,0,0,0,0,0,0,0
6,01M110,NaN,1.0,40.715915,-73.979893,P.S. 110 Florence Nightingale,NaN,P.S. 110 Florence Nightingale,2018-19,372,...,0,0,0,0,0,0,0,0,0,0
7,01M134,NaN,1.0,40.714570,-73.983724,P.S. 134 Henrietta Szold,NaN,P.S. 134 Henrietta Szold,2018-19,281,...,0,0,0,0,0,0,0,0,0,0
8,01M140,0.0,1.0,40.719250,-73.983056,P.S. 140 Nathan Straus,NaN,P.S. 140 Nathan Straus,2018-19,385,...,0,0,0,0,0,0,0,0,0,0
9,01M142,NaN,1.0,40.718383,-73.984452,P.S. 142 Amalia Castro,NaN,P.S. 142 Amalia Castro,2018-19,353,...,0,0,0,0,0,0,0,0,0,0
10,01M184,1.0,1.0,40.711549,-73.986542,P.S. 184 Shuang Wen,NaN,P.S. 184m Shuang Wen,2018-19,678,...,0,0,0,0,0,0,0,0,0,0
11,01M188,0.0,1.0,40.719598,-73.977904,P.S. 188 The Island School,NaN,P.S. 188 The Island School,2018-19,407,...,0,0,0,0,0,0,0,0,0,0
12,01M292,1.0,NaN,NaN,NaN,Orchard Collegiate Academy,M056,Orchard Collegiate Academy,2018-19,197,...,0,0,0,0,0,0,0,0,0,0
13,01M315,NaN,1.0,40.727892,-73.978525,The East Village Community School,NaN,The East Village Community School,2018-19,333,...,0,0,0,0,0,0,0,0,0,0
14,01M332,1.0,1.0,40.713684,-73.986336,University Neighborhood Middle School (01M332),NaN,University Neighborhood Middle School,2018-19,209,...,0,0,0,0,0,0,0,0,0,0
15,01M361,NaN,1.0,40.727892,-73.978525,The Children's Workshop School,NaN,The Children's Workshop School,2018-19,320,...,0,0,0,0,0,0,0,0,0,0
16,01M363,NaN,1.0,40.724117,-73.986381,Neighborhood School,NaN,Neighborhood School,2018-19,306,...,0,0,0,0,0,0,0,0,0,0
17,01M364,NaN,1.0,40.724380,-73.981380,Earth School,NaN,Earth School,2018-19,350,...,0,0,0,0,0,0,0,0,0,0
18,01M378,1.0,1.0,40.720581,-73.985645,School for Global Leaders (01M378),NaN,School for Global Leaders,2018-19,250,...,0,0,0,0,0,0,0,0,0,0
19,01M448,0.0,NaN,NaN,NaN,University Neighborhood High School,M446,University Neighborhood High School,2018-19,483,...,0,0,0,0,0,0,0,0,0,0
20,01M450,1.0,1.0,40.729589,-73.982555,East Side Community School,M060,East Side Community School,2018-19,680,...,0,0,0,0,0,0,0,0,0,0
21,01M509,1.0,NaN,NaN,NaN,Marta Valle High School,M025,Marta Valle High School,2018-19,127,...,0,0,0,0,0,0,0,0,0,0
22,01M539,0.0,NaN,NaN,NaN,"New Explorations into Science, Technology and ...",M022,"New Explorations into Science, Technology and ...",2018-19,1754,...,0,0,0,0,0,0,0,0,0,0
23,01M539,1.0,1.0,40.718895,-73.979308,"New Explorations into Science, Technology & Ma...",NaN,"New Explorations into Science, Technology and ...",2018-19,1754,...,0,0,0,0,0,0,0,0,0,0
24,01M696,0.0,NaN,NaN,NaN,Bard High School Early College,M097,Bard High School Early College,2018-19,615,...,0,0,0,0,0,0,0,0,0,0
25,01M839,1.0,1.0,40.724435,-73.981521,Tompkins Square Middle School (01M839),NaN,Tompkins Square Middle School,2018-19,362,...,0,0,0,0,0,0,0,0,0,0
26,02M001,NaN,2.0,40.712760,-73.997489,P.S. 1 Alfred E. Smith,NaN,P.S. 001 Alfred E. Smith,2018-19,295,...,0,0,0,0,0,0,0,0,0,0
27,02M002,NaN,2.0,40.713273,-73.991339,P.S. 2 Meyer London,NaN,P.S. 002 Meyer London,2018-19,483,...,0,0,0,0,0,0,0,0,0,0
28,02M003,NaN,2.0,40.732593,-74.006466,P.S. 3 Charrette School,NaN,P.S. 003 Charrette School,2018-19,731,...,0,0,0,0,0,0,0,0,0,0
29,02M006,NaN,2.0,40.777455,-73.960713,P.S. 6 Lillie D. Blake,NaN,P.S. 006 Lillie D. Blake,2018-19,671,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1364,32K291,0.0,32.0,40.695362,-73.915142,J.H.S. 291 Roland Hayes (32K291),NaN,J.H.S. 291 Roland Hayes,2018-19,290,...,0,0,0,0,0,0,0,0,0,0
1365,32K299,NaN,32.0,40.691077,-73.918152,P.S. 299 Thomas Warren Field,NaN,P.S. 299 Thomas Warren Field,2018-19,238,...,0,0,0,0,0,0,0,0,0,0
1366,32K347,1.0,32.0,40.700690,-73.927481,I.S. 347 School of Humanities (32K347),NaN,I.S. 347 School of Humanities,2018-19,312,...,0,0,0,0,0,0,0,0,0,0
1367,32K349,1.0,32.0,40.700690,-73.927481,"I.S. 349 Math, Science & Tech. (32K349)",NaN,"I.S. 349 Math, Science & Tech.",2018-19,328,...,0,0,0,0,0,0,0,0,0,0
1368,32K377,NaN,32.0,40.694018,-73.915263,P.S. 377 Alejandrina B. De Gautier,NaN,P.S. 377 Alejandrina B. De Gautier,2018-19,155,...,0,0,0,0,0,0,0,0,0,0
1369,32K383,0.0,32.0,40.697781,-73.919777,J.H.S. 383 Philippa Schuyler (32K383),NaN,J.H.S. 383 Philippa Schuyler,2018-19,909,...,0,0,0,0,0,0,0,0,0,0
1370,32K384,0.0,32.0,40.690353,-73.904803,P.S./I.S. 384 Frances E. Carter,NaN,P.S. /I.S. 384 Frances E. Carter,2018-19,505,...,0,0,0,0,0,0,0,0,0,0
1371,32K403,1.0,NaN,NaN,NaN,Academy for Excellence in Leadership,K480,Academy for Environmental Leadership,2018-19,238,...,0,0,0,0,0,0,0,0,0,0
1372,32K545,0.0,NaN,NaN,NaN,EBC High School for Public Service - Bushwick,K913,EBC High School for Public Service - Bushwick,2018-19,479,...,0,0,0,0,0,0,0,0,0,0
1373,32K549,1.0,NaN,NaN,NaN,The Brooklyn School for Social Justice,K480,The Brooklyn School for Social Justice,2018-19,335,...,0,0,0,0,0,0,0,0,0,0
1374,32K552,1.0,NaN,NaN,NaN,The Academy of Urban Planning and Engineering,K480,The Academy of Urban Planning and Engineering,2018-19,231,...,0,0,0,0,0,0,0,0,0,0
1375,32K554,1.0,NaN,NaN,NaN,All City Leadership Secondary School,K554,All City Leadership Secondary School,2018-19,430,...,0,0,0,0,0,0,0,0,0,0
1376,32K554,0.0,32.0,40.697370,-73.913171,All City Leadership Secondary School (32K554),NaN,All City Leadership Secondary School,2018-19,430,...,0,0,0,0,0,0,0,0,0,0
1377,32K556,0.0,NaN,NaN,NaN,Bushwick Leaders High School for Academic Exce...,K865,Bushwick Leaders High School for Academic Exce...,2018-19,302,...,0,0,0,0,0,0,0,0,0,0
1378,32K562,1.0,32.0,40.688387,-73.910276,Evergreen Middle School for Urban Exploration ...,NaN,Evergreen Middle School for Urban Exploration,2018-19,370,...,0,0,0,0,0,0,0,0,0,0
1379,84K362,NaN,15.0,40.662646,-73.992085,Hellenic Classical Charter School,NaN,Hellenic Classical Charter School,2018-19,498,...,0,0,0,0,0,0,0,0,0,0
1380,84K702,NaN,13.0,40.690202,-73.961478,Community Partnership Charter School Pre-Kinde...,NaN,Community Partnership Charter School,2018-19,433,...,0,0,0,0,0,0,0,0,0,0
1381,84K702,NaN,13.0,40.690202,-73.961478,Community Partnership Charter School Pre-Kinde...,NaN,Community Partnership Charter School,2018-19,433,...,0,0,0,0,0,0,0,0,0,0
1382,84M329,NaN,3.0,40.798511,-73.949251,Harlem Link Charter School Pre-Kindergarten,NaN,Harlem Link Charter School,2018-19,429,...,0,0,0,0,0,0,0,0,0,0
1383,84M382,NaN,4.0,40.785258,-73.941526,DREAM Charter School,NaN,DREAM Charter School,2018-19,728,...,0,0,0,0,0,0,0,0,0,0
1384,84M483,NaN,3.0,40.807260,-73.954135,New York French American Charter School,NaN,New York French American Charter School,2018-19,305,...,0,0,0,0,0,0,0,0,0,0
1385,84M518,NaN,4.0,40.790263,-73.942688,East Harlem Education Center,NaN,East Harlem Scholars Academy Charter School,2018-19,604,...,0,0,0,0,0,0,0,0,0,0
1386,84Q170,NaN,27.0,40.600664,-73.752036,Peninsula Preparatory Academy Charter School A...,NaN,Peninsula Preparatory Academy Charter School,2018-19,366,...,0,0,0,0,0,0,1,0,0,0
1387,84Q342,NaN,28.0,40.692226,-73.788070,Rochdale Early Advantage Charter School,NaN,Rochdale Early Advantage Charter School,2018-19,321,...,0,0,1,0,0,0,0,0,0,0
1388,84Q372,NaN,28.0,40.713072,-73.807973,Growing Up Green II,NaN,Growing Up Green Charter School II,2018-19,391,...,0,1,0,0,0,0,0,0,0,0
1389,84Q705,NaN,30.0,40.751311,-73.885533,Renaissance Charter School UPK,NaN,Renaissance Charter School,2018-19,576,...,0,0,0,0,0,0,0,0,0,0
1390,84X394,NaN,7.0,40.806381,-73.921149,Little Haven at Mott Haven Academy Charter School,NaN,Mott Haven Academy Charter School,2018-19,451,...,0,0,0,0,0,0,0,0,0,0
1391,84X487,NaN,8.0,40.814774,-73.916797,Girls and Boys Preparatory Charter School of T...,NaN,Girls Preparatory Charter School of the Bronx,2018-19,774,...,0,0,0,0,0,0,0,0,0,0
1392,84X554,NaN,7.0,40.808695,-73.921887,NYC Montessori Charter School,NaN,New York City Montessori Charter School,2018-19,328,...,0,0,0,0,0,0,0,0,0,0
1393,84X718,NaN,11.0,40.884343,-73.840254,Bronx Charter School for Better Learning,NaN,Bronx Charter School for Better Learning,2018-19,564,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.to_csv('/project_data/data_asset/tripleRI(input).csv')

In [4]:
df= pd.read_csv('/project_data/data_asset/tripleRI.csv')

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 57 columns):
Unnamed: 0                      1394 non-null int64
Unnamed: 0.1                    1394 non-null int64
dbn                             1394 non-null object
postcode                        1394 non-null int64
borough                         1394 non-null object
accessibility                   1394 non-null object
sharedbuilding                  839 non-null float64
district                        1024 non-null float64
latitude                        1024 non-null float64
longitude                       1024 non-null float64
school_name.x                   1394 non-null object
building_code                   427 non-null object
school_name.y                   1394 non-null object
year                            1394 non-null object
total_enrollment                1394 non-null int64
grade_pk_half_day_full_day      1394 non-null int64
grade_k                         1394 non-null int64
grade_1                         1394 non-null int64
grade_2                         1394 non-null int64
grade_3                         1394 non-null int64
grade_4                         1394 non-null int64
grade_5                         1394 non-null int64
grade_6                         1394 non-null int64
grade_7                         1394 non-null int64
grade_8                         1394 non-null int64
grade_9                         1394 non-null int64
grade_10                        1394 non-null int64
grade_11                        1394 non-null int64
grade_12                        1394 non-null int64
female                          1394 non-null int64
female_1                        1394 non-null float64
male                            1394 non-null int64
male_1                          1394 non-null float64
asian                           1394 non-null int64
asian_1                         1394 non-null float64
black                           1394 non-null int64
black_1                         1394 non-null float64
hispanic                        1394 non-null int64
hispanic_1                      1394 non-null float64
multiple_race_categories        1394 non-null int64
multiple_race_categories_1      1394 non-null float64
white                           1394 non-null int64
white_1                         1394 non-null float64
students_with_disabilities      1394 non-null int64
students_with_disabilities_1    1394 non-null float64
english_language_learners       1394 non-null int64
english_language_learners_1     1394 non-null float64
poverty                         1394 non-null int64
poverty_1                       1394 non-null float64
economic_need_index             1394 non-null float64
postcode_pop_est                1392 non-null float64
overcap_p                       7 non-null object
undercap_p                      566 non-null float64
demo_index                      1394 non-null float64
zip_env_index                   1394 non-null float64
hybrid_index                    1394 non-null float64
Reopening_Risk                  1394 non-null int64
dtypes: float64(20), int64(29), object(8)
memory usage: 620.8+ KB

In [6]:
df = df.drop(['district'], axis = 1)

In [18]:
df.head()

,postcode,borough,accessibility,latitude,longitude,total_enrollment,grade_pk_half_day_full_day,grade_k,grade_1,grade_2,...,students_with_disabilities_1,english_language_learners,english_language_learners_1,poverty,poverty_1,economic_need_index,demo_index,zip_env_index,hybrid_index,Reopening_Risk
0,10009,MANHATTAN,Partially Accessible,40.721807,-73.979022,174,13,20,33,30,...,0.218,8,0.046,145,0.833,0.880,3.931,59519.145172,9.882915,0
1,10003,MANHATTAN,Not Accessible,40.729636,-73.983818,249,10,30,39,43,...,0.369,8,0.032,180,0.723,0.668,3.760,54293.533793,9.189353,0
2,10002,MANHATTAN,Partially Accessible,40.721540,-73.986648,481,42,61,69,76,...,0.239,63,0.131,316,0.657,0.738,3.634,77976.134138,11.431613,1
3,10009,MANHATTAN,Not Accessible,40.726473,-73.975181,305,17,26,20,16,...,0.374,22,0.072,301,0.987,0.944,4.305,59519.145172,10.256915,1
4,10009,MANHATTAN,Not Accessible,40.724117,-73.986381,230,23,49,41,28,...,0.317,4,0.017,176,0.765,0.732,3.814,59519.145172,9.765915,0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 45 columns):
postcode                        1394 non-null int64
borough                         1394 non-null object
accessibility                   1394 non-null object
latitude                        1024 non-null float64
longitude                       1024 non-null float64
total_enrollment                1394 non-null int64
grade_pk_half_day_full_day      1394 non-null int64
grade_k                         1394 non-null int64
grade_1                         1394 non-null int64
grade_2                         1394 non-null int64
grade_3                         1394 non-null int64
grade_4                         1394 non-null int64
grade_5                         1394 non-null int64
grade_6                         1394 non-null int64
grade_7                         1394 non-null int64
grade_8                         1394 non-null int64
grade_9                         1394 non-null int64
grade_10                        1394 non-null int64
grade_11                        1394 non-null int64
grade_12                        1394 non-null int64
female                          1394 non-null int64
female_1                        1394 non-null float64
male                            1394 non-null int64
male_1                          1394 non-null float64
asian                           1394 non-null int64
asian_1                         1394 non-null float64
black                           1394 non-null int64
black_1                         1394 non-null float64
hispanic                        1394 non-null int64
hispanic_1                      1394 non-null float64
multiple_race_categories        1394 non-null int64
multiple_race_categories_1      1394 non-null float64
white                           1394 non-null int64
white_1                         1394 non-null float64
students_with_disabilities      1394 non-null int64
students_with_disabilities_1    1394 non-null float64
english_language_learners       1394 non-null int64
english_language_learners_1     1394 non-null float64
poverty                         1394 non-null int64
poverty_1                       1394 non-null float64
economic_need_index             1394 non-null float64
demo_index                      1394 non-null float64
zip_env_index                   1394 non-null float64
hybrid_index                    1394 non-null float64
Reopening_Risk                  1394 non-null int64
dtypes: float64(16), int64(27), object(2)
memory usage: 490.2+ KB

In [20]:
df.to_csv('/project_data/data_asset/tripleRI(input).csv')

In [7]:
df2 = df
df2.head()

,Unnamed: 0,Unnamed: 0.1,dbn,postcode,borough,accessibility,sharedbuilding,latitude,longitude,school_name.x,...,poverty,poverty_1,economic_need_index,postcode_pop_est,overcap_p,undercap_p,demo_index,zip_env_index,hybrid_index,Reopening_Risk
0,0,0,01M015,10009,MANHATTAN,Partially Accessible,NaN,40.721807,-73.979022,P.S. 15 Roberto Clemente,...,145,0.833,0.880,57925.0,NaN,NaN,3.931,59519.145172,9.882915,0
1,1,1,01M019,10003,MANHATTAN,Not Accessible,NaN,40.729636,-73.983818,P.S. 19 Asher Levy,...,180,0.723,0.668,54682.0,NaN,0.577649,3.760,54293.533793,9.189353,0
2,2,2,01M020,10002,MANHATTAN,Partially Accessible,NaN,40.721540,-73.986648,P.S. 20 Anna Silver,...,316,0.657,0.738,74993.0,NaN,0.678392,3.634,77976.134138,11.431613,1
3,3,3,01M034,10009,MANHATTAN,Not Accessible,0.0,40.726473,-73.975181,P.S. 34 Franklin D. Roosevelt,...,301,0.987,0.944,57925.0,NaN,NaN,4.305,59519.145172,10.256915,1
4,4,4,01M063,10009,MANHATTAN,Not Accessible,NaN,40.724117,-73.986381,The STAR Academy - P.S. 63,...,176,0.765,0.732,57925.0,NaN,NaN,3.814,59519.145172,9.765915,0

In [23]:
df2 = df2.drop(['demo_index', 'hybrid_index', 'zip_env_index', 
                'female_1', 'male_1', 'white_1','black_1', 'hispanic_1',
                'multiple_race_categories_1', 'students_with_disabilities_1', 'english_language_learners_1',
                'poverty_1'],axis = 1)

In [28]:
df2 = df2.drop(['asian_1'], axis = 1)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 32 columns):
postcode                      1394 non-null int64
borough                       1394 non-null object
accessibility                 1394 non-null object
latitude                      1024 non-null float64
longitude                     1024 non-null float64
total_enrollment              1394 non-null int64
grade_pk_half_day_full_day    1394 non-null int64
grade_k                       1394 non-null int64
grade_1                       1394 non-null int64
grade_2                       1394 non-null int64
grade_3                       1394 non-null int64
grade_4                       1394 non-null int64
grade_5                       1394 non-null int64
grade_6                       1394 non-null int64
grade_7                       1394 non-null int64
grade_8                       1394 non-null int64
grade_9                       1394 non-null int64
grade_10                      1394 non-null int64
grade_11                      1394 non-null int64
grade_12                      1394 non-null int64
female                        1394 non-null int64
male                          1394 non-null int64
asian                         1394 non-null int64
black                         1394 non-null int64
hispanic                      1394 non-null int64
multiple_race_categories      1394 non-null int64
white                         1394 non-null int64
students_with_disabilities    1394 non-null int64
english_language_learners     1394 non-null int64
poverty                       1394 non-null int64
economic_need_index           1394 non-null float64
Reopening_Risk                1394 non-null int64
dtypes: float64(3), int64(27), object(2)
memory usage: 348.6+ KB

In [29]:
df2.to_csv('/project_data/data_asset/tripleRI(input).csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394 entries, 0 to 1393
Data columns (total 33 columns):
postcode                      1394 non-null int64
borough                       1394 non-null object
accessibility                 1394 non-null object
latitude                      1024 non-null float64
longitude                     1024 non-null float64
total_enrollment              1394 non-null int64
grade_pk_half_day_full_day    1394 non-null int64
grade_k                       1394 non-null int64
grade_1                       1394 non-null int64
grade_2                       1394 non-null int64
grade_3                       1394 non-null int64
grade_4                       1394 non-null int64
grade_5                       1394 non-null int64
grade_6                       1394 non-null int64
grade_7                       1394 non-null int64
grade_8                       1394 non-null int64
grade_9                       1394 non-null int64
grade_10                      1394 non-null int64
grade_11                      1394 non-null int64
grade_12                      1394 non-null int64
female                        1394 non-null int64
male                          1394 non-null int64
asian                         1394 non-null int64
asian_1                       1394 non-null float64
black                         1394 non-null int64
hispanic                      1394 non-null int64
multiple_race_categories      1394 non-null int64
white                         1394 non-null int64
students_with_disabilities    1394 non-null int64
english_language_learners     1394 non-null int64
poverty                       1394 non-null int64
economic_need_index           1394 non-null float64
Reopening_Risk                1394 non-null int64
dtypes: float64(4), int64(27), object(2)
memory usage: 359.5+ KB